{% extends 'assignment_01/base.html' %}
{% load static %}
{% block content %}
<h1>Go for an Assignment</h1>
    <ol>
        <li><a class="btn btn-outline-success mb-2" href="{% url 'ass1-home' %}">Assignment-01-(list-find-even)</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-02</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-03</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-04</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-05</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-06</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-07</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-08</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-09</a></li>
        <li><a class="btn btn-outline-success mb-2 disabled" href="{% url 'ass1-home' %}">Assignment-10</a></li>
    </ol>
{% endblock %}